if theme.aside.card_calendar.enable
 .card-widget.card-calendar
   .card-content
     .item-headline
       i.fa.fa-calendar(aria-hidden="true")
       span= _p('aside.card_calendar')
     div.widget-wrap
     div#calendar.widget